@import url('https://fonts.googleapis.com/css?family=Lato:300');
body {
    font-family: 'Lato', sans-serif;
    font-size: 100% line-height: 1.7em;
    color: white;
    margin: auto;
    background-color: white;
    letter-spacing: .025em;
    background-color: white;
    color: white;
    letter-spacing: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #bed841;
}

a:active {
    color: #bed841;
}

#container {
    width: 100% auto;
}

#header {
    height: 15% auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #111111
}

#header-left {
    padding-left: 0.5em;
}

#header-right {
    padding-right: 0.5em;
}

#header a {
    text-decoration: none;
    text-align: bottom;
    font-size: 200%;
    font-weight: bold;
    padding: 20px;
}

#content {
    width: 60%;
    margin: auto;
    padding-top: 2.5em;
}

#content-left {
    float: left;
    margin: auto;
    width: 48%;
}

#quick-links {
    padding-left: 0.4em;
    border: 0.25em solid #bed841;
    border-spacing: 0.3em;
}

#content-right {
    float: right;
    margin: auto;
    width: 48%;
}

#transport-links {
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: 0.25em solid #bed841;
    border-spacing: 0.3em;
    margin-bottom: 1.5em;
}

#news {
    padding-left: 0.4em;
    border: 0.25em solid #bed841;
    border-spacing: 0.3em;
    margin-top: 1.5em;
}

#map {
    height: 800px;
    width: 100%;
}

.navbar {
    font-family: Lato, sans-serif;
    font-size: 15;
}

ul.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.header {
    font-family: Lato, sans-serif;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 300;
}

.wrapper {
    position: absolute;
    clear: both;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 800px;
}

.container {
    position: relative;
    margin-top: 50px;
    width: 320px;
    height: 180px;
    float: left;
    /*padding: 25px;*/
    min-width: 200px;
    margin-left: 30px;
    margin-right: 30px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    /* grey overlay size */
    height: 180px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container:hover .overlay {
    display: flex;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}

img {
    position: absolute;
    opacity: 0.9;
    width: 320px;
    height: 180px;
    left: 0;
}

.title {
    position: absolute;
    font-family: Lato, sans-serif;
    width: 320px;
    top: 0;
    bottom: 0;
    height: 50px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    margin: auto;
}

.container:hover .title {
    top: 30px;
}

.location-button {
    position: absolute;
    /*width: 320px;*/
    left: 0;
    /*top: 100px;*/
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.container:hover .button {
    opacity: 1;
}


/* media */

@media (min-width: 768px) {
    .container {
        width: 320px;
        left: 0;
        right: 0;
        margi
    }
}
