@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
    font-family: Lato, sans-serif;
    /*font-weight: 300;*/
    /*font-size: 36px;*/
    letter-spacing: .025em;
    background-color: #141414;
    color: white;
    letter-spacing: 10px;
}
.header {
	font-family: Lato, sans-serif;
	font-size: 40px;
	letter-spacing: 15px;
	font-weight: 300;

}
.wrapper {
    position: absolute;
    clear: both;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 800px;
    /*position: relative;*/
    /*text-align: center;*/
}

.container {
    position: relative;
    margin-top: 50px;
    width: 320px;
    height: 180px;
    float: left;
    /*padding: 25px;*/
    min-width: 200px;
    margin-left: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    /* grey overlay size */
    height: 180px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container:hover .overlay {
    display: flex;
    background: rgba(0, 0, 0, .3);
}

img {
    position: absolute;
    width: 320px;
    height: 180px;
    left: 0;
}

.title {
    position: absolute;
    width: 320px;
  /*  left:0;
    right: 0;*/
    top: 0;
    bottom: 0;
    height:50px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    margin: auto;
}

.container:hover .title {
    top: 30px;
}

.location-button {
    position: absolute;
    /*width: 320px;*/
    left: 0;
    /*top: 100px;*/
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}


/*.location-button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}*/


/*a.location-button {
    display: block; 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
*/
.container:hover .button {
    opacity: 1;
}
